# ── Server ────────────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ── MongoDB ───────────────────────────────────────────────
# Local:  mongodb://localhost:27017/nxt_trendz
# Atlas:  mongodb+srv://<user>:<pass>@cluster.mongodb.net/nxt_trendz
MONGO_URI=mongodb+srv://Prasanna_Anjaneyulu:PrasannaMongoDB03@cluster0.lvvycnr.mongodb.net/nxt_trendz

# ── JWT ───────────────────────────────────────────────────
# Change this to a long random string in production!
JWT_SECRET=92191f1460f8cc3fb1cade943900bf96dabc2da4a6fc58ab1912bb355deed0f9e88d8601b617d6b44a31526a9480f1b000ecfd261ac636ddcd9bd9a7e25d135a
JWT_EXPIRES_IN=30d

# ── CORS ──────────────────────────────────────────────────
CLIENT_URL=http://localhost:5173
